
    body {
      background-color: #D7E9F7;
color: grey;

    }
hr {
border-style: none;
border-top-style: dotted;
border-color: grey;
border-width: 5px

}


h1{

  color: #66bfbf;
}
h3{
  color: #66bfbf;
}
